<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/entry.css">
    <title>Admin signin</title>
</head>
<body>
    <div class="container admin_container" id="container">
        <div class="form-container sign-in-container admin_container">
            <form action="admin-sign-in" method="POST">
                <h1>Sign in</h1>
                <input name="email" type="email" placeholder="Email" />
                <input name="password" type="password" placeholder="Password" />
                <button>Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>
