<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="../static/parent_frame.css">
    <script src="../static/parent_frame.js"></script>
    <title>Music App</title>
</head>
<body>

<div id="navbar">
    <div><h1>ROOVY</h1></div>
    <div><h6>The Music App</h6></div>
    {% for element in nav_elements %}
    <a href="{{ element.url }}" class="{{ element.class }}">{{ element.title }}</a>
    {% endfor %}
</div>
True

<div id="main">
    <div id="header">
        <div id="headerLeft">{{ header_left }}</div>
        <div id="headerRight">
            <div id="search">
                <form action="/search" method="POST">
                    <input type="text" id="searchBar" name="searchQuery" placeholder="Search songs/albums">
                    <button type="submit">&#128269;</button>
                </form>
            </div>

            <div id="profile"><a href="../profile">Profile</a></div>
            <div id="logOut"><a href="../logout">Log out</a></div>
        </div>
    </div>
    <div id="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div id="mainContent">
        {{ content | safe}}
    </div>
</div>

<div id="player">
    <audio id="audioPlayer" controls>
        <source src="" type="audio/mpeg">
    </audio>
    <div id="expand" onclick="togglePlayerHeight()">&#171;</div>
    <div id="playerContent"></div>
</div>

</body>

</html>
