<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/parent_frame.css">
    <script src="../static/parent_frame.js"></script>
    <title>Music App</title>
</head>
<body>

<div id="navbar">
    <div><h1>ROOVY</h1></div>
    <div><h6>The Music App</h6></div>
    {% for element in nav_elements %}
    <a href="{{ element.url }}" class="{{ element.class }}">{{ element.title }}</a>
    {% endfor %}
</div>
True

<div id="main">
    <div id="header">
        <div id="headerLeft">{{ header_left }}</div>
        <div id="headerRight">
            <input placeholder="search song/album/artist" id="searchBar">
            <div id="search">&#128269;</div>
            <div id="profile"><a href="../profile">Profile</a></div>
            <div id="logOut"><a href="../logout">Log out</a></div>
        </div>
    </div>

    <div id="mainContent">
        {{ content | safe}}
    </div>
</div>

<div id="player">
    <audio id="audioPlayer" controls>
        <source src="" type="audio/mpeg">
    </audio>
    <div id="expand" onclick="togglePlayerHeight()">&#171;</div>
    <div id="playerContent"></div>
</div>

</body>

</html>
